https://www.hackerrank.com/challenges/symmetric-difference/problem?isFullScreen=true

Concept: If the inputs are given on one line separated by a character (the delimiter), use split() to get the separate values in the form of a list. The delimiter is space (ascii 32) by default. To specify that comma is the delimiter, use string.split(','). For this challenge, and in general on HackerRank, space will be the delimiter.

In [12]:
# Integer as input
# space as a delimiter
a = input()
lis1 = a.split()
print("space delimiter:", lis)

# comma as a delimiter
b = input()
lis2 = a.split(',')
print("comma delimiter:", lis)

space delimiter: ['1 2 3 4 5']
comma delimiter: ['1 2 3 4 5']

Map()
map() is used to convert strings to integers

In [14]:
a = input()
lis1 = a.split()
c = list(map(int,lis1))
print(c)
# print(map(int, lis1)) will not show any thing , we have to save it in some variable

[1, 2, 3, 4]

Sets are an unordered collection of unique values. A single set contains values of any immutable data type.

Creating Sets:

In [18]:
#directly assigning value to set
myset = {1,2}
print(myset)

# initializing a set
myset = set()
myset = set(['a','b','c','d','e','f'])
print(myset)

{1, 2}
{'f', 'd', 'a', 'b', 'e', 'c'}

Modifying set - add() function

In [21]:
myset.add('c')
print(myset)
# if an element already exists then nothing happens
myset.add('a')
print(myset)
myset.add((5,4))
print(myset)

{'f', 'd', 'a', 'b', 'e', 'c'}
{'f', 'd', 'a', 'b', 'e', 'c'}
{'f', 'd', 'a', (5, 4), 'b', 'e', 'c'}

Update()

In [25]:
#1 update() only works for iterable objects
myset.update([1, 2, 3, 4])
print(myset)
# list (iterable)
# Python loops through the list and add each element:
# add 1 2 3 4 to the original list
# List is ordered, but sets are unordered, so the printed order is arbitrary.

{1, 2, 3, 4, 'f', 7, 'd', 'a', (5, 4), 8, 9, 'b', 'e', 'c'}

In [26]:
#2
myset.update({10,11})
print(myset)
# Python loops through the list and add each element:
# add 1 already there , adds 10,11

{1, 2, 3, 4, 'f', 7, 'd', 'a', (5, 4), 8, 9, 10, 11, 'b', 'e', 'c'}

In [27]:
#3
myset.update({1, 6}, [5, 13])
# two iterable
# a set {1,6}
# a list [5,13]
# equivalent to

# for x in {1, 6}:
#     myset.add(x)

# for y in [5, 13]:
#     myset.add(y)
print(myset)

{1, 2, 3, 4, 'f', 6, 7, 8, 9, (5, 4), 10, 11, 13, 5, 'e', 'd', 'a', 'c', 'b'}

There is a difference between add() and update() - Add() adds only one element / update(iterable) add many elements from an iterable

In [28]:
myset.update('xyz')
print(myset) # add x, y, z coz a string is iterable
myset.add('xyz')
print(myset) # adds xyz as one element

{1, 2, 3, 4, 'f', 6, 7, 8, 9, (5, 4), 10, 11, 13, 5, 'y', 'e', 'x', 'd', 'a', 'c', 'z', 'b'}
{1, 2, 3, 4, 'f', 6, 7, 8, 9, (5, 4), 10, 11, 13, 5, 'y', 'e', 'xyz', 'x', 'd', 'a', 'c', 'z', 'b'}

Removing items - Both discard() and remove() takes a single value as an argument and removes that value from the set. discard() is the value is not present then it does nothing. remove() will give error

In [31]:
myset.discard(23)
print(myset)

{1, 2, 3, 4, 'f', 6, 7, 8, 9, (5, 4), 10, 11, 13, 5, 'y', 'e', 'xyz', 'x', 'd', 'a', 'c', 'z', 'b'}

In [32]:
myset.remove(23)
print(myset)

KeyError: 23

Common set operations:
union() values which exist in a or b

In [34]:
a = {1,2,3}
b = {3,4,5}
c = a.union(b)
print(c)

{1, 2, 3, 4, 5}

intersection()

In [35]:
a = {1,2,3}
b = {3,4,5}
c = a.intersection(b)
print(c)

{3}

difference() Values which exist in a but not in b

In [37]:
a = {1,2,3}
b = {3,4,5}
c = a.difference(b)
print(c)

{1, 2}

In [40]:
# union() and intersection() are symmetric methods
a.union(b) == b.union(a)

True

In [42]:
a.intersection(b) == b.intersection(a)

True

In [43]:
a.difference(b) == b.difference(a)

False

In [ ]:
Task
Given 2 sets of integers, M and N, print their symmetric difference in ascending order. The term symmetric difference indicates those values that exist in either M or N but do not exist in both.

In [86]:
m = int(input().strip())
M = set(map(int, input().split()))


n = int(input().strip())
N = set(map(int, input().split()))

P = set(M.difference(N))
Q = set(N.difference(M))

R = P.union(Q)
S = sorted(set(R))

for items in S:
    print(items)

# other option
# S = sorted(M.symmetric_difference(N))

1
3